#content {
  margin: 10px;
  padding: 10px;
  border: solid 5px goldenrod;
  outline: solid 2px rgb(214, 167, 48);
  outline-offset: -10px;
  background-color: #755a49;
  font-family: 'Times New Roman';
  font-size: 20px;
}


.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px goldenrod;
  background-color: #A3C9A8;
  font-family: 'Times New Roman';
  font-size: 20px
}

body {
  background-image: url(img/mainbg.png);
}


h1,h2,h3 {
  font-family: 'Times New Roman', Times, serif;
}


h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
}




/*Wes's CSS, little modification*/
.room-image img {
  width: 100%;
  height: auto;
}

.adventure-section {
  min-height: 300px;
  color: seashell;
  border: solid 2px goldenrod;
  padding: 20px 20px 30px 20px;
  margin: 10px;
  background-color: #917767;
  width: 80%;
  max-width: 100%;
}

li {
  transition: 0.5s
}

li:hover {
  color: lightgreen
}

.room-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-image img {
  width: 80%;
  border: solid 2px goldenrod;
}

.container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .adventure-section {
    width: 100%;
    min-width: auto;
    margin: 10px 0 10px 0;
  }

  .room-image img {
      width: 100%;
      background-image: url(0mainbg.png), url(0closedletter.png);
  }
}

#js-output .title {
  font-weight: bold;
}

#js-output li {
  text-transform: none;
  font-weight: bold;
  cursor: pointer; 
  cursor: hand;
  list-style: none;
  padding: 0px;
}

#js-output li:before {
content: "\21E8 ";
margin: 0 1em;
}

